<library path="src">
  <class name="RobotSteering" type="rqt_robot_steering_ackermann.robot_steering.RobotSteering" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to steer a robot with a ackermann_msgs/AckermannDriveStamped message.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Robot Steering Ackermann</label>
      <icon type="theme">input-gaming</icon>
      <statustip>A Python GUI plugin for steering a robot using ackermann_msgs/AckermannDriveStamped messages.</statustip>
    </qtgui>
  </class>
</library>
